@import '../abstracts/mixins';

.App:has(.footer) {
	@include bp(S) {
		padding: 0;
	}
}
.footer {
	padding: toRem(60);
	margin-left: auto;
	margin-right: auto;
	width: 94%;
	box-sizing: border-box;
	background-color: #fefffe;
	border-radius: 20px 20px 0px 0px;
	@include bp(S) {
		position: relative;
	}
	.footer-content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&-left {
		max-width: 500px;
		@include bp(M) {
			max-width: 100%;
			margin-bottom: 30px;
		}
		@include bp(S) {
			// width: 100%;
		}

		.logo {
			display: block;
			margin-bottom: 40px;
		}
		.newsletter-form {
			display: flex;
			margin-top: 20px;
			margin-bottom: 16px;
			justify-content: space-between;
			@include bp(S) {
				flex-direction: column;
				align-items: flex-start;
				input {
					margin-bottom: 20px;
				}
			}

			input {
				border: none;
				border-bottom: solid 2px #454752;
				padding: 0.5rem;
				outline: none;
			}

			button {
				background: #f6e7c5;
				border: 1px solid #444;
				padding: 0.5rem 1rem;
				border-radius: 6px;
				cursor: pointer;
				transition: all 0.2s ease;
				&:hover {
					background: #f6d77c;
				}
			}
		}

		.privacy {
			color: #64687c;
			font-size: 1rem;

			a {
				text-decoration: underline;
				color: #64687c;
			}
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		.linkedin img {
			width: 28px;
			height: 28px;
		}
		.footer-bottom {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			text-align: right;
			gap: 0.5rem;
			.cooth {
				color: #c5c4ca;
			}
			a {
				color: #c5c4ca;
				text-decoration: underline;
			}
		}
		@include bp(M) {
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
		}
	}
}
