/**
* @desc         card styles.
* @requires     variables.scss
*/
@import '../abstracts/mixins';
.faq-section {
	display: flex;
	align-items: baseline;
	margin: 3rem auto;
	padding: 40px toRem(60);
	background: #fff3d5;
	border-radius: 20px;
	position: relative;
	flex-wrap: wrap;
	width: 95%;
	// box-sizing: content-box;
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		padding: 3px; /* border thickness */
		border-radius: inherit;
		background: linear-gradient(180deg, rgba(255, 243, 213, 0) 0%, #fff3d5 50%, #ffd97f 100%);
		-webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude; /* only the ring remains */
		pointer-events: none;
	}

	h2 {
		text-align: left;
		margin-right: auto;
		padding-right: 30px;
	}

	.faq-list {
		display: flex;
		flex-direction: column;
		max-width: 800px;
	}

	.faq-item {
		border-radius: 20px;
		background: #fff; /* inner fill */
		padding: 30px;
		cursor: pointer;
		transition: background 0.3s ease;
		position: relative;
		margin-top: 20px;
		@include bp(S) {
			width: auto;
		}
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			padding: 3px; /* border thickness */
			border-radius: inherit;
			background: linear-gradient(180deg, rgba(255, 243, 213, 0) 0%, #fff3d5 50%, #ffd97f 100%);
			-webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude; /* only the ring remains */
			pointer-events: none;
		}
		.heading-3 {
			text-align: left;
		}
		.faq-question {
			display: flex;
			justify-content: space-between;
			font-weight: 600;
			// font-size: 1.05rem;
		}

		.icon {
			font-size: 2.5rem;
			font-weight: bold;
		}

		.faq-answer {
			margin-top: toRem(40);
			color: #444;
			animation: fadeIn 0.3s ease;
		}

		&.active {
			// background: #fff3cc;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-4px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
