@import '../abstracts/mixins';

.Hero {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: toRem(145);
	@include bp(S) {
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 100px;
	}
	h1 {
		margin-bottom: 1.5rem;
	}
	p {
		text-align: center;
		margin: 0 auto 2rem;
	}

	.steps {
		margin-top: 0;
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		margin-bottom: 0;
		align-items: flex-start;
		padding: 0;
		width: 100%;
		max-width: 1400px;
		position: relative;
		@include bp(M) {
			gap: 1rem;
		}
		@include bp(S) {
			flex-direction: column;
			align-items: center;
		}
	}

	@keyframes drawBorder {
		from {
			width: 0%;
		}
		to {
			width: 80%;
		}
	}

	.step {
		@include staggerAnimation(10, 100, 250, true);
		padding: toRem(30) toRem(25);
		border-radius: 20px;
		min-width: 180px;
		z-index: 1;
		max-width: toRem(273);
		width: 100%;
		text-align: left;
		font-size: toRem(24);
		font-weight: 500;
		line-height: 0.94;
		letter-spacing: -0.72px;
		border: solid 3px #ffb401;
		background-color: #ffb401;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		min-height: 40px;
		box-sizing: border-box;
		@include bp(M) {
			min-height: 100px;
			width: 25%;
			padding: toRem(20);
		}
		@include bp(S) {
			width: 100%;
			max-width: 100%;
			min-height: 40px;
		}
		&-wrapper {
			display: flex;
		}
		&:hover {
			cursor: default;
		}

		.step-description {
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			transition: all 0.4s ease;
			margin: 0;
			color: #444;
			text-align: left;
		}

		&:hover {
			// background: #fdf5e6;
			// border-color: #f4c94d;

			.step-description {
				margin-top: 20px;
				max-height: 500px;
				opacity: 1;
			}
		}
		span {
			margin-left: 10px;
			@include bp(M) {
				margin-left: 5px;
			}
		}
		&:nth-child(1) {
			background-color: #fefffe;
		}
		&:nth-child(2) {
			background-color: #fff3d5;
		}
		&:nth-child(3) {
			background-color: #ffd97f;
		}
	}
}

.steps-container {
	margin: 2rem 0;
	margin-top: 80px;
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 95%;
	min-height: toRem(350);
	.line {
		position: absolute;
		transition: all 3s ease;
		background: #f4c94d;
		&.desktop {
			@include bp(S) {
				display: none;
			}
		}
		&.mobile {
			display: none;
			@include bp(S) {
				display: block;
			}
		}
		@media (min-width: 768px) {
			left: 0;
			height: 3px;
			top: 55px;
			z-index: 0;
			width: 0;
			&.draw {
				width: 100%;
			}
		}

		@include bp(S) {
			transform: rotate(90deg);
			width: 40%;
		}
	}
	@media (max-width: 767px) {
		.line {
			top: 0;
			left: 50%;
			width: 3px;
			height: 0;
			transform: translateX(-50%);
			&.draw {
				height: 100%;
			}
		}
	}
}
