@import '../abstracts/mixins';

.Hero {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: toRem(145);
	h1 {
		margin-bottom: 1.5rem;
	}
	p {
		// max-width: 700px;
		text-align: center;
		margin: 0 auto 2rem;
	}

	.steps {
		display: flex;
		justify-content: center;
		gap: 1.5rem;
		margin: 2rem 1rem;
		margin-top: 80px;
		margin-bottom: 0;
		flex-wrap: wrap;
		padding: 0;
		width: 98%;
		max-width: 1400px;
		// display: grid;
		// grid-template-columns: repeat(4, 1fr);
	}

	.step {
		padding: toRem(30) toRem(22);
		border-radius: 20px;
		min-width: 180px;
		max-width: toRem(273);
		width: 100%;
		text-align: left;
		font-size: toRem(24);
		font-weight: 500;
		line-height: 0.94;
		letter-spacing: -0.72px;
		border: solid 3px #ffb401;
		background-color: #ffb401;
		display: flex;
		list-style-type: none;
		min-height: 40px;
		box-sizing: border-box;
		@include bp(M) {
			max-width: 45%;
		}
		span {
			margin-left: 10px;
		}
		&:nth-child(1) {
			background-color: #fefffe;
		}
		&:nth-child(2) {
			background-color: #fff3d5;
		}
		&:nth-child(3) {
			background-color: #ffd97f;
		}
	}
}
