@import '../abstracts/mixins';

.how-section {
	margin: 3rem auto;
	background: #fff;
	border-radius: 12px;
	padding: 2rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
}

.how-header {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 1.5rem;
	column-gap: 40px;

	h2 {
		margin-bottom: 0.5rem;
		text-align: left;
	}
}
// progress bar
.progress-bar {
	height: 30px;
	background: #f8e9c8;
	border-radius: 8px;
	margin: 1.5rem 0;
	overflow: hidden;
	.progress-fill {
		height: 100%;
		background: linear-gradient(90deg, #ffc107, #ff9800);
		width: 0%;
		border-radius: 8px;
		transition: width 0.4s ease;
	}
}

// steps
.timeline-steps {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.timeline-step {
		background: #fff3d5;
		border-radius: 8px;
		padding: 40px;
		cursor: pointer;
		transition: background 0.3s ease;
		&-header {
			display: flex;
			justify-content: space-between;
			// font-weight: 600;
			// font-size: 1.1rem;
		}

		&-num {
			color: #131317;
		}

		&-title {
			color: #131317;
		}

		&-content {
			margin-top: 30px;
			color: #131317;
			opacity: 0;
			animation: fadeIn 1s forwards;
		}

		&.active {
			background: #ffd97f;
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
