@import '../abstracts/mixins';
.pricing-section {
	// padding-bottom: 3rem;
	text-align: center;

	h2 {
		// margin-bottom: 2rem;
	}

	.pricing-grid {
		display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		gap: 2rem;
		justify-content: center;
		margin-bottom: 2rem;
		grid-template-columns: repeat(3, 1fr);
		@include bp(S) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.top-price {
		background-color: white;
		min-height: toRem(263);
		box-sizing: content-box;
		padding: 20px;
		margin: 30px auto;
		@include bp(M) {
			min-height: 100px;
		}
		.price {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.list-items,
	.border-wrapper {
		padding: 20px;
		border-radius: 20px;
	}
	.list-items {
		background-color: white;
		padding-left: 50px !important;
	}
	.pricing-card {
		position: relative;
		overflow: hidden;
		transform: scale(1);
		transition: all 0.3s ease;
		&:hover {
			transform: scale(1.05);
		}
		@include bp(S) {
			transform: scale(1) !important;
		}
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			padding: 3px;
			border-radius: inherit;
			background: linear-gradient(to top, #ffd97f, #ffd97f 51%, #fefffe);
			-webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
			pointer-events: none;
		}

		&:nth-child(2) {
			.sub-card .t30-text {
				background-color: #ffd97f;
				border: none;
			}
		}
		&:nth-child(3) {
			.sub-card .t30-text {
				border: none;
				background-color: #ffb401;
			}
		}
		background: linear-gradient(to bottom, #fffdf7 0%, #fff3d5 15%, #fff3d5 95%, #fff3d5ae 100%);
		// background-color: #fff3d5;

		border-radius: 12px;
		padding: 20px;
		text-align: left;

		h3 {
			margin-bottom: 0.25rem;
		}

		.price {
			color: #454752;
			margin-bottom: 1rem;
		}

		.description {
			margin-bottom: 0;
			padding-left: 1.2rem;

			li {
				margin-bottom: 2px;
			}
		}

		.sub-card {
			border-radius: 12px;
			position: relative;
			a {
				text-align: center;
				text-decoration: none;
				color: #454752;

				.t30-text {
					transition: all 0.3s ease;
				}
				&:hover {
					.t30-text {
						transform: scale(0.95);
					}
				}
			}
			li {
				list-style-type: none;
				padding-left: 50px;
				position: relative;
				display: flex;
				align-items: center;
			}
			ul li:before {
				content: '';
				background-image: url('/images/check_circle.svg');
				left: 20px;
				position: absolute;
				padding: 10px;
				height: 10px;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				background-size: 20px;
				background-repeat: no-repeat;
			}

			.t30-text {
				border: solid 2px #ffd97f;
				background-color: #fff3d5;
			}

			h4 {
				margin-bottom: 0.75rem;
			}

			ul {
				padding-left: 0;

				li {
					margin-bottom: 0.5rem;
				}
			}
		}
	}

	.note {
		margin-top: 1rem;
		font-size: 0.9rem;
		color: #131317;
		a {
			color: #131317;
		}
	}
}
