@import '../abstracts/mixins';
@import '../abstracts/variables';

.slider {
	position: relative;
	width: 100%;
	// overflow: hidden;
}

.slider-wrapper {
	overflow: hidden;
	width: 100%;
}

.slider-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
	gap: 20px;
}

.slide {
	flex-shrink: 0;
	background: #fff6e0;
	border-radius: 12px;
	padding: 2rem;
	box-sizing: border-box;
	text-align: center;
	@include bp(S) {
		// max-width: 400px;
	}

	h3 {
		margin-bottom: 30px;
	}

	> * {
		@include staggerAnimation(2, 150, 250);
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 0.6s ease, transform 0.6s ease;
	}
}

.nav-btns {
	// position: absolute;
	// top: 50%;
	// width: 100%;
	// display: flex;
	// justify-content: space-between;
	// transform: translateY(-50%);
	position: absolute;
	top: 50%;
	width: 110%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
	left: 50%;
	transform: translate(-50%, -50%);
	.nav-btn {
		font-family: $font-family-default;
		font-weight: 300;
		background: none;
		border: none;
		font-size: 6rem;
		color: grey;
		cursor: pointer;
		&:disabled {
			opacity: 0;
		}
	}
}

// Main slider section container
.slider-section {
	display: flex;
	flex-direction: column;
	// overflow: hidden;
	position: relative;
	max-width: 1200px;
	margin: 2rem auto;
	// padding-left: 50px;
	padding: 0 60px;

	// @include bp(M) {
	// 	padding: 0 50px;
	// }

	// @include bp(S) {
	// 	padding: 0 20px;
	// }

	.visible & {
		.slide {
			> * {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	.slider-wrapper {
		// padding: 0 40px;
		box-sizing: border-box;

		// @include bp(S) {
		// 	margin-left: 0;
		// }
	}
}

.steps-section {
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}
