/**
* @desc         set up variables.
* @requires     none
*/

// [color - variables]
// branding
$primary-dark-color: #131317;

$white-color-1: #ffffff;

// grays
$gray-color-1: #f4f6f8;
$gray-color-2: #d2dae2;
$gray-color-3: #131317;
$gray-color-4: #454752;

$text-default-color: $gray-color-4;
// font family
$font-family-default: 'Inter', sans-serif;
$font-family-default-m: 'Roboto Serif', serif;
$font-family-code: 'InterDisplay', sans-serif;

$font-w-medium: 500;

$h1-font-size: toRem(92.8);
$h2-font-size: toRem(64);
