/**
* @desc         adds default text styles
* @requires     variables.scss
*/

@font-face {
	font-family: 'InterDisplay'; /* Choose a name for your font */
	src: local('InterDisplay-Regular'), url('../../fonts/InterDisplay-Regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	line-height: $base-line-height;
	color: $text-default-color;
}

body,
input,
select,
textarea {
	font-family: $font-family-default;
}

// headings and paragraph
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	// font-style: normal;
	font-family: $font-family-default;
	line-height: 0.94;

	// font-stretch: normal;
	// font-style: normal;

	em {
		font-weight: normal;
		font-family: $font-family-default-m;
	}
}

h1 {
	font-size: $h1-font-size;
	font-weight: $font-w-medium;
	line-height: 0.94;
	letter-spacing: -2.79px;
	@include bp(S) {
		font-size: 55px;
	}
}
h2 {
	font-size: $h2-font-size;
	font-weight: $font-w-medium;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.94;
	letter-spacing: -1.92px;
	text-align: center;
	color: #454752;
	margin-bottom: toRem(60);
}
.heading-3,
h3 {
	font-size: toRem(40);
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.94;
	letter-spacing: -1.2px;
	text-align: center;
	color: #454752;
}

.t30-text {
	font-size: toRem(30);
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.94;
	letter-spacing: -0.9px;
}
// h3,
// h4,
// h5,
// h6 {
// 	font-size: $font-s-medium;
// }

p {
	font-family: $font-family-code;
	font-size: toRem(18);
	color: $gray-color-3;
	// font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: left;
	margin: 0;
	// color: #131317;
}
.larger-p {
	font-family: $font-family-code;
	font-size: toRem(24);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: center;
}
pre,
code {
	font-family: $font-family-code;
}
